i{
    color: red;
    font-size: 21px;
}
.myCheck{
    height: 25px;
    width: 25px;
}
.myBg{
    background-color: rgb(28, 28, 28);
}
.green{
    color :green;
}
.red{
    color:red;
}
.border{
    border-color: rgba(255, 255, 255, 0.3) !important;
}

